asistente-ia-wordpress---con-texto-binario-corregido-li8F7J3j2rf3ioCC.json
{"createdAt":"2025-10-06T19:11:41.389Z","updatedAt":"2025-10-06T20:03:34.000Z","id":"li8F7J3j2rf3ioCC","name":"Asistente IA WordPress - Con Texto Binario Corregido","active":false,"isArchived":false,"nodes":[{"parameters":{"options":{}},"name":"Chat Trigger","type":"@n8n/n8n-nodes-langchain.chatTrigger","typeVersion":1.3,"position":[-96,192],"id":"7f73c820-3f87-42fd-9140-1629a42c65eb","webhookId":"479e9d17-859f-4a1a-b138-d996de623957"},{"parameters":{"url":"https://drive.google.com/uc?export=download&id=1pgsQYM8HlrmnrezNgiipPJrYa-f-_dJo","options":{}},"name":"Leer Información","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[128,192],"id":"d4535aed-5375-495f-b997-78a2a8f4522b","disabled":true},{"parameters":{"prompt":"Eres un asistente de renta de autos en Cuba. Tu trabajo es ayudar a los clientes con sus preguntas sobre renta de autos.  Primero, intenta responder usando SOLO la información proporcionada en el contexto a continuación. Si la pregunta NO está cubierta en el contexto, entonces responde usando tu conocimiento general, pero mantén un tono profesional y útil.  Contexto: {{ $json.body }}  Pregunta del usuario: {{ $json.chatInput }}"},"name":"AI Chain","type":"@n8n/n8n-nodes-langchain.chainLlm","typeVersion":1.2,"position":[640,192],"id":"4c14caf8-f544-45f4-94a4-52b93cb3189d","disabled":true},{"parameters":{"model":"openai/gpt-4o","options":{}},"name":"OpenRouter","type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[720,416],"id":"74687af2-edc7-4c73-8667-20142d84344f","credentials":{"openRouterApi":{"id":"To0iTDI9RCL4C4ky","name":"OpenRouter account"}},"disabled":true},{"parameters":{"jsCode":"const binaryData = $input.item.json.data;\n\n// Convertir binario a string\nconst decoder = new TextDecoder('utf-8');\nconst text = decoder.decode(binaryData);\n\nreturn [{ json: { body: text } }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[384,192],"id":"a8a416a7-a29c-44cd-bed5-f4a904d85b60","name":"Code in JavaScript"}],"connections":{"Chat Trigger":{"main":[[{"node":"Leer Información","type":"main","index":0}]]},"Leer Información":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"OpenRouter":{"ai_languageModel":[[{"node":"AI Chain","type":"ai_languageModel","index":0}]]},"Code in JavaScript":{"main":[[{"node":"AI Chain","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"d2645509-a0f0-4378-b8ab-e46699847df6","triggerCount":0,"shared":[{"createdAt":"2025-10-06T19:11:41.395Z","updatedAt":"2025-10-06T19:11:41.395Z","role":"workflow:owner","workflowId":"li8F7J3j2rf3ioCC","projectId":"tthF0sbQi3ktpHAW"}],"tags":[]}