local-rag-ai-agent-r4OXb1u6ArOAvKuj.json
{"createdAt":"2025-10-08T22:34:09.490Z","updatedAt":"2025-10-08T22:54:18.000Z","id":"r4OXb1u6ArOAvKuj","name":"Local RAG AI Agent","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"12rIhV__ZIU7fbCnIwWkjGvywTIEoYBda","mode":"list","cachedResultName":"test","cachedResultUrl":"https://drive.google.com/drive/folders/12rIhV__ZIU7fbCnIwWkjGvywTIEoYBda"},"event":"fileCreated","options":{}},"id":"de38cd9c-9f6e-4a4a-8ff5-53b5640c857d","name":"File Created","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[48,32],"credentials":{"googleDriveOAuth2Api":{"id":"35lHgMNLZz8oBZCq","name":"Google Drive account"}}},{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"triggerOn":"specificFolder","folderToWatch":{"__rl":true,"value":"12rIhV__ZIU7fbCnIwWkjGvywTIEoYBda","mode":"list","cachedResultName":"test","cachedResultUrl":"https://drive.google.com/drive/folders/12rIhV__ZIU7fbCnIwWkjGvywTIEoYBda"},"event":"fileUpdated","options":{}},"id":"1b069fe3-c276-4a7e-a221-bb99c51644be","name":"File Updated","type":"n8n-nodes-base.googleDriveTrigger","typeVersion":1,"position":[48,224],"credentials":{"googleDriveOAuth2Api":{"id":"35lHgMNLZz8oBZCq","name":"Google Drive account"}}},{"parameters":{"assignments":{"assignments":[{"id":"10646eae-ae46-4327-a4dc-9987c2d76173","name":"file_id","value":"={{ $json.id }}","type":"string"},{"id":"dd0aa081-79e7-4714-8a67-1e898285554c","name":"folder_id","value":"={{ $json.parents[0] }}","type":"string"}]},"options":{}},"id":"8b62fb37-dd96-440b-be53-f4b6a9858c83","name":"Set File ID","type":"n8n-nodes-base.set","typeVersion":3.4,"position":[272,128]},{"parameters":{"operation":"download","fileId":{"__rl":true,"value":"={{ $('Set File ID').item.json.file_id }}","mode":"id"},"options":{"googleFileConversion":{"conversion":{}}}},"id":"b0016d51-7b5f-484b-a976-81036c93dc30","name":"Download File","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[720,128],"executeOnce":true,"credentials":{"googleDriveOAuth2Api":{"id":"35lHgMNLZz8oBZCq","name":"Google Drive account"}}},{"parameters":{"operation":"text","options":{}},"id":"0cc1aa37-e33e-48ac-a44a-8d2ac9a93de3","name":"Extract Document Text","type":"n8n-nodes-base.extractFromFile","typeVersion":1,"position":[944,128],"alwaysOutputData":true},{"parameters":{"options":{"metadata":{"metadataValues":[{"name":"file_id","value":"={{ $('Set File ID').item.json.file_id }}"},{"name":"folder_id","value":"={{ $('Set File ID').item.json.folder_id }}"}]}}},"id":"f5919db6-10c9-4ce4-af72-56e16d50192f","name":"Default Data Loader","type":"@n8n/n8n-nodes-langchain.documentDefaultDataLoader","typeVersion":1,"position":[1296,352]},{"parameters":{"chunkSize":100,"options":{}},"id":"95b284d0-a284-4db4-9f28-cd1a6ff55d10","name":"Recursive Character Text Splitter","type":"@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter","typeVersion":1,"position":[1376,560]},{"parameters":{"model":"all-minilm:latest"},"id":"59dac88b-478f-4500-90e6-dc32348e643c","name":"Embeddings Ollama1","type":"@n8n/n8n-nodes-langchain.embeddingsOllama","typeVersion":1,"position":[1088,368],"credentials":{"ollamaApi":{"id":"19VVePW9c7a4tzEL","name":"Ollama account"}}},{"parameters":{"content":"## Workflow to Create Local Knowledgebase from Google Drive Folder","height":705.2695614889159,"width":1568.9362829025763,"color":5},"id":"e134bf25-dde8-45df-ba45-d8c3514502cf","name":"Sticky Note1","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[0,0]},{"parameters":{"code":{"execute":{"code":"const { QdrantVectorStore } = require(\"@langchain/qdrant\");\nconst { OllamaEmbeddings } = require(\"@langchain/community/embeddings/ollama\");\n\nconst embeddings = new OllamaEmbeddings({\n  model: \"nomic-embed-text\",\n  baseUrl: \"http://ollama:11434\"\n});\n\nconst vectorStore = await QdrantVectorStore.fromExistingCollection(\n  embeddings,\n  {\n    url: \"http://qdrant:6333\",\n    collectionName: \"documents\",\n  }\n);\n\nconst fileIdToDelete = this.getInputData()[0].json.file_id;\n\nconst filter = {\n        must: [\n            {\n                key: \"metadata.file_id\",\n                match: {\n                    value: fileIdToDelete,\n                },\n            },\n        ],\n    }\n\n// const results = await vectorStore.similaritySearch(\"this\", 10, filter);\n// const idsToDelete = results.map((doc) => doc.id);\n\n// NOT IMPLEMENTED!\n// await vectorStore.delete({ ids: idsToDelete });\n\nvectorStore.client.delete(\"documents\", {\n  filter\n});\n\nreturn [ {json: { file_id: fileIdToDelete } } ];\n"}},"inputs":{"input":[{"type":"main","required":true}]},"outputs":{"output":[{"type":"main"}]}},"id":"7719635c-ae78-44fc-b57f-a08710ecaa42","name":"Clear Old Vectors","type":"@n8n/n8n-nodes-langchain.code","typeVersion":1,"position":[464,336],"alwaysOutputData":false,"disabled":true},{"parameters":{"mode":"insert","qdrantCollection":{"__rl":true,"value":"documents","mode":"list","cachedResultName":"documents"},"options":{}},"id":"d64e5ac3-9699-406d-b277-a8ff566aadba","name":"Qdrant Vector Store Insert","type":"@n8n/n8n-nodes-langchain.vectorStoreQdrant","typeVersion":1,"position":[1200,128],"credentials":{"qdrantApi":{"id":"PLSJgwoK2fkDAgJs","name":"QdrantApi account"}}}],"connections":{"File Created":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"File Updated":{"main":[[{"node":"Set File ID","type":"main","index":0}]]},"Set File ID":{"main":[[{"node":"Download File","type":"main","index":0}]]},"Download File":{"main":[[{"node":"Extract Document Text","type":"main","index":0}]]},"Extract Document Text":{"main":[[{"node":"Qdrant Vector Store Insert","type":"main","index":0}]]},"Default Data Loader":{"ai_document":[[{"node":"Qdrant Vector Store Insert","type":"ai_document","index":0}]]},"Recursive Character Text Splitter":{"ai_textSplitter":[[{"node":"Default Data Loader","type":"ai_textSplitter","index":0}]]},"Embeddings Ollama1":{"ai_embedding":[[{"node":"Qdrant Vector Store Insert","type":"ai_embedding","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"00762aac-ef1d-462b-8cc1-aa0b588b45fb","triggerCount":0,"shared":[{"createdAt":"2025-10-08T22:34:09.492Z","updatedAt":"2025-10-08T22:34:09.492Z","role":"workflow:owner","workflowId":"r4OXb1u6ArOAvKuj","projectId":"cGcQzgMRWQWuPlqr"}],"tags":[]}