my-workflow-OPepZSz0UzwAVs2R.json
{"createdAt":"2025-10-10T21:43:31.585Z","updatedAt":"2025-10-10T22:40:48.000Z","id":"OPepZSz0UzwAVs2R","name":"My workflow","active":false,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-480,-48],"id":"01b967fd-da39-447d-92ea-ea8a594c3127","name":"Telegram Trigger","webhookId":"ce0e03c4-a7c9-4142-a7e1-4353efacd25d","credentials":{"telegramApi":{"id":"xFWGC7uyQvWMD5lg","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"e4fd9e4c-9eaa-47b7-9e03-cceade6f6815"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a44a9-134e-427a-a187-3ef9c128d842","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-288,-48],"id":"43ecaa79-7085-4b29-9d33-c07f86d891fd","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"bac0935a-397e-4ed5-8b2b-a2791e0dbb8d","name":"mensaje","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-64,-176],"id":"eb801cfa-40dd-401c-8dd9-e3672721dbbb","name":"texto"},{"parameters":{"assignments":{"assignments":[{"id":"f8b625e3-d300-4c63-85b2-64d168e326a3","name":"nombre","value":"={{ $('Telegram Trigger').item.json.message.chat.first_name }}","type":"string"},{"id":"fb72502e-1a22-4a6d-9a1d-7fb654c33aed","name":"chat_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"number"},{"id":"a7704ed0-70a7-4374-bd9a-91a93246f5c1","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,-176],"id":"905dd8a0-f4c1-4ede-bc7c-dacc21e30f69","name":"Entrada datos"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"texto","type":"main","index":0}]]},"texto":{"main":[[{"node":"Entrada datos","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Telegram Trigger":[{"json":{"update_id":590269802,"message":{"message_id":811,"from":{"id":795693931,"is_bot":false,"first_name":"Manny∴","username":"Applemanny","language_code":"es"},"chat":{"id":795693931,"first_name":"Manny∴","username":"Applemanny","type":"private"},"date":1760134170,"voice":{"duration":2,"mime_type":"audio/ogg","file_id":"AwACAgEAAxkBAAIDK2jphBrRBSeGhYJ8kJlKsbe-noFUAALqBAACgPFQR1YIeOF-nkEUNgQ","file_unique_id":"AgAD6gQAAoDxUEc","file_size":10177}}}}]},"versionId":"d68c5ce4-c184-426c-9381-83ec4d58e957","triggerCount":0,"shared":[{"createdAt":"2025-10-10T21:43:31.588Z","updatedAt":"2025-10-10T21:43:31.588Z","role":"workflow:owner","workflowId":"OPepZSz0UzwAVs2R","projectId":"cGcQzgMRWQWuPlqr"}],"tags":[]}