rentairport-agent-bFxnr8M6vKaC0q3h.json
{"createdAt":"2025-10-11T13:14:54.180Z","updatedAt":"2025-10-11T14:27:28.000Z","id":"bFxnr8M6vKaC0q3h","name":"Rentairport Agent","active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"],"additionalFields":{}},"type":"n8n-nodes-base.telegramTrigger","typeVersion":1.2,"position":[-720,128],"id":"7a6b036b-8737-497a-8548-6930cd612f8b","name":"Telegram Trigger","webhookId":"ce0e03c4-a7c9-4142-a7e1-4353efacd25d","credentials":{"telegramApi":{"id":"H3AfMcZ7yjoDvDtZ","name":"Telegram account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"leftValue":"={{ $json.message.text }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true},"id":"e4fd9e4c-9eaa-47b7-9e03-cceade6f6815"}],"combinator":"and"},"renameOutput":true,"outputKey":"text"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"bf0a44a9-134e-427a-a187-3ef9c128d842","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"audio"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.3,"position":[-400,128],"id":"031f052d-0b14-4c0b-97c3-d6b98a91234e","name":"Switch"},{"parameters":{"assignments":{"assignments":[{"id":"bac0935a-397e-4ed5-8b2b-a2791e0dbb8d","name":"mensaje","value":"={{ $json.message.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[0,0],"id":"b0bdca5f-4035-44df-8c2e-4651fec7e573","name":"texto"},{"parameters":{"assignments":{"assignments":[{"id":"f8b625e3-d300-4c63-85b2-64d168e326a3","name":"nombre","value":"={{ $('Telegram Trigger').item.json.message.chat.first_name }}","type":"string"},{"id":"fb72502e-1a22-4a6d-9a1d-7fb654c33aed","name":"chat_id","value":"={{ $('Telegram Trigger').item.json.message.chat.id }}","type":"number"},{"id":"a7704ed0-70a7-4374-bd9a-91a93246f5c1","name":"mensaje","value":"={{ $json.mensaje }}","type":"string"},{"id":"80e60147-5151-43a2-a539-e69d1cf7b702","name":"thread_id","value":"=={{ $('Telegram Trigger').item.json.message.message_thread_id }}","type":"number"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[304,112],"id":"dec67f47-7978-4c34-96d7-a1d2c510a2e2","name":"Entrada datos"},{"parameters":{"resource":"file","fileId":"={{ $json.message.voice.file_id }}","additionalFields":{}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[-224,224],"id":"59bda75e-369a-4698-b4bc-e7b3dd20f2c2","name":"Descargar Audio","webhookId":"480f0592-e884-444f-bd2d-810ebe989a39","credentials":{"telegramApi":{"id":"H3AfMcZ7yjoDvDtZ","name":"Telegram account"}}},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/audio/transcriptions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"multipart-form-data","bodyParameters":{"parameters":[{"name":"model","value":"whisper-1"},{"parameterType":"formBinaryData","name":"file","inputDataFieldName":"data"},{"name":"language","value":"es"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-48,224],"id":"c869d8af-a1d1-41cb-a4c3-69f2f798cff2","name":"Transcribe audio - telegram","credentials":{"openAiApi":{"id":"GDKH6VqhS9Yq3yhi","name":"OpenAi account"}}},{"parameters":{"assignments":{"assignments":[{"id":"6ad306b2-199a-4ee3-9265-e766afc80333","name":"mensaje","value":"={{ $json.text }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[112,224],"id":"43d91bb6-12b0-413c-ae32-7c6175f8d504","name":"audio"},{"parameters":{"promptType":"define","text":"={{ $json.mensaje }}","options":{"systemMessage":"Eres un amigable asistente llamado Harvis Rentairport"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[512,112],"id":"e99035ab-4f89-4334-b26e-32c0d3c69fe4","name":"AI Agent"},{"parameters":{"model":"meta-llama/llama-3-8b-instruct","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[448,336],"id":"ae4665f0-9a52-4a71-a704-fd6cd3e54303","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"bVSowJH14kRscXha","name":"OpenRouter account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $('Entrada datos').item.json.chat_id }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[576,368],"id":"aa896845-a8fc-4c97-a01b-8b3656d4a723","name":"Simple Memory"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolCalculator","typeVersion":1,"position":[848,352],"id":"170a57a5-6f99-4ce2-9220-e2ee133a5955","name":"Calculator"},{"parameters":{},"type":"@n8n/n8n-nodes-langchain.toolWikipedia","typeVersion":1,"position":[704,352],"id":"c635f38a-b403-4c01-8ad1-8ef50c5d9773","name":"Wikipedia"},{"parameters":{"chatId":"={{ $('Entrada datos').item.json.chat_id }}","text":"={{ $json.output }}","additionalFields":{"appendAttribution":false,"message_thread_id":"={{ $('Entrada datos').item.json.thread_id }}"}},"type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[880,128],"id":"3409442e-6c27-4108-bdfb-d47317f07331","name":"Send a text message","webhookId":"a3e64845-78f3-4172-b1b0-4e66416f3c77","credentials":{"telegramApi":{"id":"H3AfMcZ7yjoDvDtZ","name":"Telegram account"}}},{"parameters":{"jsCode":"const message = $input.item.json.message;\n\n// Si es mensaje privado, permitir siempre\nif (message.chat.type === 'private') {\n  return $input.all();\n}\n\n// Si es grupo, verificar si hay mención al bot\nconst botUsername = 'Rentairport_bot'; // sin @\nconst text = message.text || '';\n\n// Buscar si el texto contiene \"@rentairport_bot\"\nif (text.includes(`@${botUsername}`)) {\n  return $input.all();\n}\n\n// Si no está mencionado, no hacer nada\nreturn [];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-560,128],"id":"b6f4de7c-956f-4c2d-93f7-1e42c5656678","name":"Code in JavaScript"}],"connections":{"Telegram Trigger":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Switch":{"main":[[{"node":"texto","type":"main","index":0}],[{"node":"Descargar Audio","type":"main","index":0}]]},"texto":{"main":[[{"node":"Entrada datos","type":"main","index":0}]]},"Descargar Audio":{"main":[[{"node":"Transcribe audio - telegram","type":"main","index":0}]]},"Transcribe audio - telegram":{"main":[[{"node":"audio","type":"main","index":0}]]},"audio":{"main":[[{"node":"Entrada datos","type":"main","index":0}]]},"Entrada datos":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Calculator":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Wikipedia":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"AI Agent":{"main":[[{"node":"Send a text message","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Switch","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"bfbecfe2-1235-41e1-866d-5a08995bf9cb","triggerCount":1,"shared":[{"createdAt":"2025-10-11T13:14:54.275Z","updatedAt":"2025-10-11T13:14:54.275Z","role":"workflow:owner","workflowId":"bFxnr8M6vKaC0q3h","projectId":"6mm158eCCRXF9UrG"}],"tags":[]}