videos-para-lixandra-(baile)-TRbTCVjk3g8lfmlg.json
{"createdAt":"2025-10-06T12:12:40.072Z","updatedAt":"2025-10-06T12:39:33.000Z","id":"TRbTCVjk3g8lfmlg","name":"Videos para Lixandra (Baile)","active":false,"isArchived":false,"nodes":[{"parameters":{"url":"https://rss.app/feeds/r7gtjQwNQlNDs5wG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"80d0c1c2-6371-4fb0-b5a3-94a32abb2f00"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyWeek","weekday":"4"}]}},"name":"Schedule Trigger2","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-400,480],"id":"64d91db8-22b5-4d67-ac47-44b72eba1794"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de World of Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,0],"id":"88d66827-1af3-4bd5-b0fe-fc5a3cac4553","name":"Send a message2","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101"},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de World of Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"9f1aff66-869f-463b-828b-c4f6b2401344","name":"Code in JavaScript3"},{"parameters":{"url":"https://rss.app/feeds/tRWotlNwPwzp6epG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,176],"id":"bfaeca7e-beb6-4ba8-b0f9-674def3f0f96"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,176],"id":"70c82d5a-658c-466b-894c-811aa3160aca","name":"Send a message","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101"},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,176],"id":"9ebd4058-2af1-408c-93f3-0db28084326e","name":"Code in JavaScript"},{"parameters":{"url":"https://rss.app/feeds/AN6EQ6PtfTJlbIUE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP2","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,368],"id":"1bffed5d-fa41-4a83-a413-1c478f93054e"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @charlidamelio (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,368],"id":"d5d3054a-d2a9-4fdf-936b-4855f9f83ed8","name":"Send a message1","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101"},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de charlidamelio!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,368],"id":"24e09fa6-9ba2-492c-890e-36861d275385","name":"Code in JavaScript1"},{"parameters":{"url":"https://rss.app/feeds/0I1aSflMxgcSK76M.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP3","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,544],"id":"11336869-5f1c-4044-adb9-39d1dbb1cf2b"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @addisonre (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,544],"id":"71c59b91-f911-47d2-af40-99c954507130","name":"Send a message3","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101"},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de addisonre!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,544],"id":"8e19fdc4-183f-4c9a-9b61-18fcb4d9b7f0","name":"Code in JavaScript2"},{"parameters":{"url":"https://rss.app/feeds/Le8kmUy4G9ZuWekF.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP4","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,720],"id":"5b24c94d-fe91-47e3-bff2-b06944644e93"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @MihranTV (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,720],"id":"04720c18-798b-4335-ba9b-6eb09fe28dc6","name":"Send a message4","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101"},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de MihranTV!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,720],"id":"5c5efbeb-16ad-48e3-ae97-53171a4ae93a","name":"Code in JavaScript4"},{"parameters":{"url":"https://rss.app/feeds/e0oMMGPDluCihHvE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP5","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,912],"id":"0b0fa660-98bc-4302-a048-8d805c2165f8"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @Matt Steffanina (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,912],"id":"1be0663c-9243-4cf9-9274-e467d1d59e6e","name":"Send a message5","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101"},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Stefania!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,912],"id":"c3db1f40-e380-4843-b7bd-6b79bdced609","name":"Code in JavaScript5"}],"connections":{"Leer RSS con HTTP1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Leer RSS con HTTP1","type":"main","index":0},{"node":"Leer RSS con HTTP","type":"main","index":0},{"node":"Leer RSS con HTTP2","type":"main","index":0},{"node":"Leer RSS con HTTP3","type":"main","index":0},{"node":"Leer RSS con HTTP4","type":"main","index":0},{"node":"Leer RSS con HTTP5","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Leer RSS con HTTP":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Leer RSS con HTTP2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Leer RSS con HTTP3":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a message3","type":"main","index":0}]]},"Leer RSS con HTTP4":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Send a message4","type":"main","index":0}]]},"Leer RSS con HTTP5":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Send a message5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"d8a00e2e-dd89-4b3a-ab76-ab7136669a73","triggerCount":1,"shared":[{"createdAt":"2025-10-06T12:12:40.169Z","updatedAt":"2025-10-06T12:12:40.169Z","role":"workflow:owner","workflowId":"TRbTCVjk3g8lfmlg","projectId":"hq5eZhwcVhDzioqO"}],"tags":[]}