videos-para-lixandra-(baile)-xSiGyYxUALdbi21L.json
{"createdAt":"2025-10-11T14:34:07.676Z","updatedAt":"2025-10-11T14:34:11.000Z","id":"xSiGyYxUALdbi21L","name":"Videos para Lixandra (Baile)","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://rss.app/feeds/r7gtjQwNQlNDs5wG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"551020d1-8556-4c74-8e35-2b202893a8a3"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyWeek","weekday":"4"}]}},"name":"Schedule Trigger2","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-400,480],"id":"528f43d0-08ed-4215-9022-6300571a90a5"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de World of Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,0],"id":"a2986d9e-d41b-4475-85c3-8a083e48135a","name":"Send a message2","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"S4vzBy38amrqDNrK","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de World of Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"dfa9171a-65ea-4331-84c8-8dfb8ead5734","name":"Code in JavaScript3"},{"parameters":{"url":"https://rss.app/feeds/tRWotlNwPwzp6epG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,176],"id":"db880253-e56c-40ae-98f0-1117a3a5b2c3"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,176],"id":"aa402513-c36f-4a4a-894c-c402a2a558c7","name":"Send a message","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"S4vzBy38amrqDNrK","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,176],"id":"639f1d50-bec8-439e-82b9-4b9de40f4835","name":"Code in JavaScript"},{"parameters":{"url":"https://rss.app/feeds/AN6EQ6PtfTJlbIUE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP2","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,368],"id":"4617c968-b965-402f-bdce-aa1daf0eee3d"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @charlidamelio (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,368],"id":"29dedb92-d36b-4814-84e0-2570537928a4","name":"Send a message1","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"S4vzBy38amrqDNrK","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de charlidamelio!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,368],"id":"0854ec26-020d-445e-85db-8ac06729a7d8","name":"Code in JavaScript1"},{"parameters":{"url":"https://rss.app/feeds/0I1aSflMxgcSK76M.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP3","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,544],"id":"3a5d2599-fcfe-4d77-a16d-847e5c172582"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @addisonre (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,544],"id":"2bc56356-38b1-453b-8650-0fdadb613f70","name":"Send a message3","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"S4vzBy38amrqDNrK","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de addisonre!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,544],"id":"305cf031-48cf-4ce7-882b-22774c1cf872","name":"Code in JavaScript2"},{"parameters":{"url":"https://rss.app/feeds/Le8kmUy4G9ZuWekF.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP4","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,720],"id":"4d5c3f40-d969-4d76-8b3f-973676074935"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @MihranTV (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,720],"id":"a822cc8d-89af-4be5-87b8-b4a0202284cf","name":"Send a message4","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"S4vzBy38amrqDNrK","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de MihranTV!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,720],"id":"cc6dda2f-ef14-4969-99ba-e832642357fb","name":"Code in JavaScript4"},{"parameters":{"url":"https://rss.app/feeds/e0oMMGPDluCihHvE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP5","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,912],"id":"fc3737ad-9c7a-4392-8ac1-a87e42b6dc5c"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @Matt Steffanina (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,912],"id":"a5e044cc-03d6-4f91-974a-ebc42c2c30d2","name":"Send a message5","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"S4vzBy38amrqDNrK","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Stefania!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,912],"id":"00090cbf-33fd-414b-804d-c1251386c442","name":"Code in JavaScript5"}],"connections":{"Leer RSS con HTTP1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Leer RSS con HTTP1","type":"main","index":0},{"node":"Leer RSS con HTTP","type":"main","index":0},{"node":"Leer RSS con HTTP2","type":"main","index":0},{"node":"Leer RSS con HTTP3","type":"main","index":0},{"node":"Leer RSS con HTTP4","type":"main","index":0},{"node":"Leer RSS con HTTP5","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Leer RSS con HTTP":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Leer RSS con HTTP2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Leer RSS con HTTP3":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a message3","type":"main","index":0}]]},"Leer RSS con HTTP4":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Send a message4","type":"main","index":0}]]},"Leer RSS con HTTP5":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Send a message5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8e9a8d2f-9d7d-412b-95e2-d763ea2360f9","triggerCount":1,"shared":[{"createdAt":"2025-10-11T14:34:07.679Z","updatedAt":"2025-10-11T14:34:07.679Z","role":"workflow:owner","workflowId":"xSiGyYxUALdbi21L","projectId":"6mm158eCCRXF9UrG"}],"tags":[]}