videos-para-lixandra-(baile)-SxgAZRdt46n0O4HY.json
{"createdAt":"2025-10-10T21:03:54.758Z","updatedAt":"2025-10-10T21:18:49.000Z","id":"SxgAZRdt46n0O4HY","name":"Videos para Lixandra (Baile)","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://rss.app/feeds/r7gtjQwNQlNDs5wG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"c393ec03-8076-45b5-bfdd-796c6f94e566"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyWeek","weekday":"4"}]}},"name":"Schedule Trigger2","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-400,480],"id":"6457153f-4916-443f-bc6f-5a820d2499e6"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de World of Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,0],"id":"2a5f4fc6-1e59-40af-8c7e-393ff3a0a403","name":"Send a message2","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"2D2EXQEYPOqoMsdG","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de World of Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"9d7056b8-16b7-4f39-9df1-7f1ed1f853b4","name":"Code in JavaScript3"},{"parameters":{"url":"https://rss.app/feeds/tRWotlNwPwzp6epG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,176],"id":"ce61b90c-1fbf-48df-a39a-778061214f92"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,176],"id":"0de475a3-0e30-4edc-9351-3a03690a1523","name":"Send a message","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"2D2EXQEYPOqoMsdG","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,176],"id":"6c5d2ae7-b277-4cc1-9237-941733627cad","name":"Code in JavaScript"},{"parameters":{"url":"https://rss.app/feeds/AN6EQ6PtfTJlbIUE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP2","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,368],"id":"d943f73f-5579-4649-a0fa-ef52066aadb0"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @charlidamelio (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,368],"id":"d04b8fd9-a8e2-4e70-a332-36aebb3f53f6","name":"Send a message1","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"2D2EXQEYPOqoMsdG","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de charlidamelio!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,368],"id":"be5cb079-dd4e-4662-95ff-bbb6a37d5b78","name":"Code in JavaScript1"},{"parameters":{"url":"https://rss.app/feeds/0I1aSflMxgcSK76M.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP3","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,544],"id":"77bfddfe-04ba-4cec-8ee2-a2cae2bf69a0"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @addisonre (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,544],"id":"2b2ac8f2-c185-4593-b315-a30508e02d84","name":"Send a message3","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"2D2EXQEYPOqoMsdG","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de addisonre!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,544],"id":"a78d78c1-7658-4887-a707-dee076292d54","name":"Code in JavaScript2"},{"parameters":{"url":"https://rss.app/feeds/Le8kmUy4G9ZuWekF.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP4","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,720],"id":"beacea76-6f4a-4e8e-bd7f-1178bca8d673"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @MihranTV (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,720],"id":"227b354f-8f48-437f-b7f8-19f4333d19f6","name":"Send a message4","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"2D2EXQEYPOqoMsdG","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de MihranTV!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,720],"id":"cab4995e-5fe7-41e0-b621-c4c66249eb77","name":"Code in JavaScript4"},{"parameters":{"url":"https://rss.app/feeds/e0oMMGPDluCihHvE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP5","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,912],"id":"3f4c5713-7372-49ee-892a-007805eddf66"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @Matt Steffanina (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,912],"id":"4e654736-4e2c-4bc0-801a-bffe0c1c1f95","name":"Send a message5","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"2D2EXQEYPOqoMsdG","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Stefania!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,912],"id":"e3abf66e-35b5-40d7-9bf6-44d44cdcd58c","name":"Code in JavaScript5"}],"connections":{"Leer RSS con HTTP1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Leer RSS con HTTP1","type":"main","index":0},{"node":"Leer RSS con HTTP","type":"main","index":0},{"node":"Leer RSS con HTTP2","type":"main","index":0},{"node":"Leer RSS con HTTP3","type":"main","index":0},{"node":"Leer RSS con HTTP4","type":"main","index":0},{"node":"Leer RSS con HTTP5","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Leer RSS con HTTP":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Leer RSS con HTTP2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Leer RSS con HTTP3":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a message3","type":"main","index":0}]]},"Leer RSS con HTTP4":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Send a message4","type":"main","index":0}]]},"Leer RSS con HTTP5":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Send a message5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"0d340623-a1b1-4c0a-9851-54d4ed88f88f","triggerCount":1,"shared":[{"createdAt":"2025-10-10T21:03:54.787Z","updatedAt":"2025-10-10T21:03:54.787Z","role":"workflow:owner","workflowId":"SxgAZRdt46n0O4HY","projectId":"cGcQzgMRWQWuPlqr"}],"tags":[]}