videos-para-lixandra-(baile)-zsxeKTr6Y3of1mMh.json
{"createdAt":"2025-10-06T16:13:44.868Z","updatedAt":"2025-10-06T16:18:14.000Z","id":"zsxeKTr6Y3of1mMh","name":"Videos para Lixandra (Baile)","active":true,"isArchived":false,"nodes":[{"parameters":{"url":"https://rss.app/feeds/r7gtjQwNQlNDs5wG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP1","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,0],"id":"b868918c-3380-4ad9-b389-11b89a4673c4"},{"parameters":{"triggerTimes":{"item":[{"mode":"everyWeek","weekday":"4"}]}},"name":"Schedule Trigger2","type":"n8n-nodes-base.cron","typeVersion":1,"position":[-400,480],"id":"36b8d35d-1ab8-4ff7-b1e2-51840b7577a9"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de World of Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,0],"id":"6a928ddf-bef7-4865-810c-319af4dfe6f3","name":"Send a message2","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"X0MNntkECcKERwPc","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de World of Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,0],"id":"2384e7df-408d-49cd-8ecf-93a6e93cd90c","name":"Code in JavaScript3"},{"parameters":{"url":"https://rss.app/feeds/tRWotlNwPwzp6epG.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,176],"id":"3a73e5d2-558c-4721-82d5-d34245c93d5d"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de Dance (IG)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,176],"id":"fca35941-6a07-482f-ab0f-4ccf70cddcd3","name":"Send a message","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"X0MNntkECcKERwPc","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Dance!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,176],"id":"c6cd5e1f-ccd3-4f08-bb0a-1b4ed742a6f3","name":"Code in JavaScript"},{"parameters":{"url":"https://rss.app/feeds/AN6EQ6PtfTJlbIUE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP2","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,368],"id":"87787450-992e-48f2-acfa-a111ea032efb"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @charlidamelio (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,368],"id":"aa367aae-65c3-4358-9ca5-3e73c19cd1eb","name":"Send a message1","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"X0MNntkECcKERwPc","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de charlidamelio!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,368],"id":"ae6d6678-6d72-4358-a216-9774b71e59c9","name":"Code in JavaScript1"},{"parameters":{"url":"https://rss.app/feeds/0I1aSflMxgcSK76M.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP3","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,544],"id":"9c1f20d9-8327-4f78-aacd-e4cd33f05bb3"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @addisonre (TikTok)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,544],"id":"8acf348f-6ce9-4e87-ad2c-d611f96f7da4","name":"Send a message3","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"X0MNntkECcKERwPc","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de addisonre!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,544],"id":"4f79f130-dd16-40fa-9355-6837a1b6016b","name":"Code in JavaScript2"},{"parameters":{"url":"https://rss.app/feeds/Le8kmUy4G9ZuWekF.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP4","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,720],"id":"cdddbe34-c159-4c57-9a43-7d74d5bda2da"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @MihranTV (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,720],"id":"1b2c034f-ae5d-4dac-b222-b95fee433edd","name":"Send a message4","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"X0MNntkECcKERwPc","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de MihranTV!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,720],"id":"8e5d1fbd-cbd1-4e6a-98e6-6c27e0b6d3a4","name":"Code in JavaScript4"},{"parameters":{"url":"https://rss.app/feeds/e0oMMGPDluCihHvE.xml","responseFormat":"string","dataPropertyName":"body","options":{}},"name":"Leer RSS con HTTP5","type":"n8n-nodes-base.httpRequest","typeVersion":1,"position":[0,912],"id":"aa2891fe-a1cc-47fb-8664-f813168b438d"},{"parameters":{"sendTo":"mannycreatorservices@gmail.com","subject":"🎬 Nuevos posts de @Matt Steffanina (YouTube)","message":"={{ $json[\"emailBody\"] }}","options":{}},"type":"n8n-nodes-base.gmail","typeVersion":2.1,"position":[400,912],"id":"7cdb4403-159a-4277-bb25-5bfbc5634c3f","name":"Send a message5","webhookId":"11720e15-51e0-40f0-98d8-e7aa0ea7b101","credentials":{"gmailOAuth2":{"id":"X0MNntkECcKERwPc","name":"Gmail account"}}},{"parameters":{"jsCode":"function extractItems(xml) {\n  const items = [];\n  let start = 0;\n\n  while (true) {\n    const itemStart = xml.indexOf('<item>', start);\n    if (itemStart === -1) break;\n    const endItem = xml.indexOf('</item>', itemStart);\n    if (endItem === -1) break;\n\n    const itemXml = xml.substring(itemStart, endItem);\n\n    const linkMatch = itemXml.match(/<link>([^<]+)<\\/link>/);\n\n    if (linkMatch) {\n      items.push(linkMatch[1].trim());\n    }\n\n    start = endItem;\n  }\n\n  return items;\n}\n\nconst xml = $json[\"body\"];\nif (!xml || xml.trim() === \"\") {\n  console.log(\"XML vacío\");\n  return [];\n}\n\nconst allLinks = extractItems(xml);\n\nif (allLinks.length === 0) {\n  console.log(\"No se encontraron links.\");\n  return [];\n}\n\n// ✅ Generar el cuerpo del correo con solo los links\nconst linksList = allLinks.slice(0, 2).map(link => {\n  return `<li><a href=\"${link}\" target=\"_blank\">${link}</a></li>`;\n}).join('');\n\n// ✅ Devolver SOLO UN item con el HTML listo\nreturn [{\n  json: {\n    emailBody: `<h2>¡Nuevos posts de Stefania!</h2>\n<ul>\n${linksList}\n</ul>\n<p>¡Disfrútalos! 💃🕺</p>`\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[208,912],"id":"a54be553-7225-4459-825f-f3b7f82e314b","name":"Code in JavaScript5"}],"connections":{"Leer RSS con HTTP1":{"main":[[{"node":"Code in JavaScript3","type":"main","index":0}]]},"Schedule Trigger2":{"main":[[{"node":"Leer RSS con HTTP1","type":"main","index":0},{"node":"Leer RSS con HTTP","type":"main","index":0},{"node":"Leer RSS con HTTP2","type":"main","index":0},{"node":"Leer RSS con HTTP3","type":"main","index":0},{"node":"Leer RSS con HTTP4","type":"main","index":0},{"node":"Leer RSS con HTTP5","type":"main","index":0}]]},"Code in JavaScript3":{"main":[[{"node":"Send a message2","type":"main","index":0}]]},"Leer RSS con HTTP":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Leer RSS con HTTP2":{"main":[[{"node":"Code in JavaScript1","type":"main","index":0}]]},"Code in JavaScript1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Leer RSS con HTTP3":{"main":[[{"node":"Code in JavaScript2","type":"main","index":0}]]},"Code in JavaScript2":{"main":[[{"node":"Send a message3","type":"main","index":0}]]},"Leer RSS con HTTP4":{"main":[[{"node":"Code in JavaScript4","type":"main","index":0}]]},"Code in JavaScript4":{"main":[[{"node":"Send a message4","type":"main","index":0}]]},"Leer RSS con HTTP5":{"main":[[{"node":"Code in JavaScript5","type":"main","index":0}]]},"Code in JavaScript5":{"main":[[{"node":"Send a message5","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"686e6b43-eff2-41b4-b1bd-ede52206f520","triggerCount":1,"shared":[{"createdAt":"2025-10-06T16:13:44.870Z","updatedAt":"2025-10-06T16:13:44.870Z","role":"workflow:owner","workflowId":"zsxeKTr6Y3of1mMh","projectId":"tthF0sbQi3ktpHAW"}],"tags":[]}