salva/Asistente IA WordPress - Conexión Correcta (al fin pero pafuera).json
{
  "name": "Asistente IA WordPress - Conexión Correcta",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        368,
        256
      ],
      "id": "7f73c820-3f87-42fd-9140-1629a42c65eb",
      "webhookId": "479e9d17-859f-4a1a-b138-d996de623957"
    },
    {
      "parameters": {
        "url": "https://drive.google.com/uc?export=download&id=1pgsQYM8HlrmnrezNgiipPJrYa-f-_dJo",
        "options": {}
      },
      "name": "Leer Información",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        576,
        256
      ],
      "id": "d4535aed-5375-495f-b997-78a2a8f4522b"
    },
    {
      "parameters": {
        "prompt": "Eres un asistente de renta de autos en Cuba. Tu trabajo es ayudar a los clientes con sus preguntas sobre renta de autos.  Primero, intenta responder usando SOLO la información proporcionada en el contexto a continuación. Si la pregunta NO está cubierta en el contexto, entonces responde usando tu conocimiento general, pero mantén un tono profesional y útil.  Contexto: {{ $json.body }}  Pregunta del usuario: {{ $json.chatInput }}"
      },
      "name": "AI Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.2,
      "position": [
        768,
        256
      ],
      "id": "4c14caf8-f544-45f4-94a4-52b93cb3189d"
    },
    {
      "parameters": {
        "model": "openai/gpt-4o",
        "options": {}
      },
      "name": "OpenRouter",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        704,
        480
      ],
      "id": "74687af2-edc7-4c73-8667-20142d84344f",
      "credentials": {
        "openRouterApi": {
          "id": "To0iTDI9RCL4C4ky",
          "name": "OpenRouter account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Chat Trigger": {
      "main": [
        [
          {
            "node": "Leer Información",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Información": {
      "main": [
        [
          {
            "node": "AI Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter": {
      "ai_languageModel": [
        [
          {
            "node": "AI Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0bd9c1a2-6640-45a4-89c1-9149da283fdf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3d94e4af36bfa9523b39a32d7d1962b0e852dc643d870b21091b52b7f6e5a06d"
  },
  "id": "li8F7J3j2rf3ioCC",
  "tags": []
}